
@font-face
{
    font-family: Press-Start-2P;
    src: url("../PressStart2P.ttf");
}

.text
{
    -fx-font-size: 15;
    -fx-font-family: "Press-Start-2P";    
}

.button
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button:hover
{
    -fx-text-fill: black;
    -fx-graphic: url("../mushroom.png");
}
